#mainpage {
  background-image: url(./images/main-qimg-b1cf0f602be3b32978fd65c26d7a844c.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
  padding-top: 10px;
  margin-top: 20px;
  position: relative;
  color: rgba(255, 255, 255);
  text-align: center;
  color: rgba(73, 184, 97, 0.966);
  border-radius: 10px;
}

h1 {
  font-size: 5em;
  text-align: center;
  text-transform: uppercase;
  /* border: 4.5px solid rgba(10, 136, 37, 0.966); */
}

#mainpage > article {
  font-size: 2.5rem;
  color: rgb(245, 245, 245);
  font-weight: bold;
  border: 2px solid white;
  background-color: rgba(170, 130, 77, 0.966);
}

#startElems {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}
#startElems > div {
  font-size: 1.5em;
  text-align: center;
  border: 2px solid #eee;
  border-radius: 20px;
  box-shadow: 5px 5px 10px 0 #eee;
  margin: 50px 5% 5% 5%;
  padding: 20px;
  width: 140px;
}

#startElems > div > img {
  width: 100px;
  height: 150px;
  align-items: center;
}

#startElems > div > button {
  border: 2px solid #eee;
  background-color: rgb(78, 64, 64);
  align-items: center;
  font-size: 15px;
  border-radius: 20px;
  color: white;
  text-align: center;
}
#startElems > div > button > a {
  color: white;
  text-decoration: none;
}
#startElems > div > img :hover {
  width: 150px;
}

h3 {
  color: rgba(170, 77, 77, 0.966);
}

#instructionsDetails {
  border-top: 3px solid rgb(119, 36, 36);
  margin-top: 80px;
  padding-top: 50px;
  text-align: center;
}

.keys {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}
.keys > div {
  font-size: 1.5em;
  text-align: center;
  border: 2px solid #eee;
  border-radius: 20px;
  box-shadow: 5px 5px 10px 0 #eee;
  margin: 5px 5% 5% 5%;
  color: black;
}
.keys > div > img {
  top: 8px;
  left: 16px;
  font-size: 18px;
  width: 100%;
  height: auto;
  opacity: 0.4;
}
